<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1005570804054-1d7lf7u8n7ck22htupbu4rdlel75rsoh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005570804054-1d7lf7u8n7ck22htupbu4rdlel75rsoh</string>
	<key>API_KEY</key>
	<string>AIzaSyA3EGXVCe2kNfP66DqG5E2jSAKoS8G_sdg</string>
	<key>GCM_SENDER_ID</key>
	<string>1005570804054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appetite.Appetite</string>
	<key>PROJECT_ID</key>
	<string>appetite-57f4e</string>
	<key>STORAGE_BUCKET</key>
	<string>appetite-57f4e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005570804054:ios:075ff08fc9755e1107aef7</string>
</dict>
</plist>